KEYSTORE_PATH=keys/key.json
KEYSTORE_PASSWORD=password
ETHERSCAN_API_KEY=

# Ethereum Mainnet
ETHEREUM_RPC_URL=https://mainnet.infura.io/v3/YOUR_INFURA_KEY
ETHEREUM_EXPLORER_URL=https://etherscan.io

# Sepolia Testnet
SEPOLIA_RPC_URL=https://sepolia.infura.io/v3/YOUR_INFURA_KEY
SEPOLIA_EXPLORER_URL=https://sepolia.etherscan.io 

# Anvil
FORKED_ETHEREUM_RPC_URL=http://127.0.0.1:8545

# WorldChain
WORLDCHAIN_RPC_URL=https://worldchain-mainnet.g.alchemy.com/public
WORLDCHAIN_EXPLORER_URL=https://worldscan.org

# WorldChain Sepolia Testnet
WORLDCHAIN_SEPOLIA_RPC_URL=https://worldchain-sepolia.g.alchemy.com/public
WORLDCHAIN_SEPOLIA_EXPLORER_URL=https://sepolia.worldscan.org

# Environment variables for deployment scripts
TOKEN_NAME="Latam Stable Test"
TOKEN_SYMBOL="WTest"
DEFAULT_ADMIN=
PAUSER=
MINTER=
UPGRADER=